@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

:root {
    /* font-family: ; */
    font-size: 0.785rem;
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --white: #fff;
    --gray: #adb5bd;
    --dark: #282828;
  }

  *,
::after,
::before {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2, h3{
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    font-align: center;
}



p{
  font-size: 
}

body{
    font-family: Yantramanav, sans-serif;
    font-weight: 300;
}

button.botonComprar {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  /*  webkit-user-select: none; */
  touch-action: manipulation;
}

button.botonComprar:hover {
box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
transform: scale(1.05) rotate(-1deg);
}
/* App.css */

/* Estilos para la barra de búsqueda */
/* (Estos son genéricos, añade tus propios estilos según el diseño de tu barra de búsqueda) */
.barra-busqueda {
  width: 100%;
  margin-bottom: 20px;
}

/* Estilos para el contenedor de los productos */
.producto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Estilos para cada tarjeta de producto */
.producto-card {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 2em;
  width: 20em;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.producto-card:hover {
  box-shadow: 0 8px 15px 0 hsla(0, 0%, 0%, 0.1);
  transform: scale(1.03);
}

.producto-img {
  width: 100%;
  height: auto;
}

.producto-titulo {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.producto-resumen {
  font-size: 14px;
  color: #333333;
  margin-bottom: 5px;
}

.producto-precio {
  font-size: 16px;
  color: #333333;
  margin-bottom: 5px;
  font-weight: bold;
}

