
.container, .nested, .box {
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.logo{
  margin: auto;
}

.nested {
  margin-right: -15px;
  margin-left: -15px;
}

.text-right {
  line-height: 16px;
}

.box {
  padding: 6px 0px;
  border: 1px solid rgb(238, 238, 238);
  margin-right: -15px;
  margin-left: -15px;
  display: inline-block;
  align-items: center;
}

.header-text {
  font-weight: 700;
  padding-bottom: 4px;
  font-size: 13px;
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}

.flex-container {
  display: flex;
  align-items: center;
  width: 60%;
  float: center;
  position: block;
  margin: auto;
  min-height: 1px;
  padding-left: 15px;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
align-items: middle;
  box-sizing: border-box;
  border: 0px none rgb(51, 51, 51);
}

.price-big {
  font-size: 2em;
  color: #25AFDD;
  text-align: right;
  font-weight: 700;
  padding-left: .5em;
}

.price-small, .delivery-info {
  color: rgb(153, 153, 153);
  font-size: 1.5em;
}

.delivery-info {
  color: rgb(0, 128, 0);
  font-size: 10px;
  display: block;
}

.form {
  width: 33.3333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: right;
}

.table {
  position: relative;
  display: table;
  border-collapse: separate;
}

.quantity {
  border-radius: 4px 0px 0px;
  border-bottom: 0px none rgb(85, 85, 85);
  text-align: center;
  max-height: 30px;
  width: 100%;
  outline: rgb(85, 85, 85) none 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  display: block;
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 0px;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.0) 0px 1px 1px 0px inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-family: Nunito, sans-serif;
  margin: 0px;
}

 button {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4fdafd, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
padding: 1em 1em 1em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  /* -webkit-user-select: none; */
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin: auto;
  align-items: center;
   ;
}

button:active,
button:focus {
  outline: none;
}

button:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  
}


.SliderImagen{
  width: 100px;
  height: 100px;
  padding-bottom: 2em;
}

.carrito{
  text-align: center;
  font-size: large;
  margin: auto;
  align-items: center;

}

p{
  font-size: 1.5em;
  text-align: center;
  color: #25AFDD;
}

img.image{
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}

h1{
  color: #25AFDD;
  padding: 1em 0em 1em 0em;
}

svg{
  margin-top: 0.5em;
}

.totalpedido{
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.total{
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
  color: #25AFDD);
}

.button.btn.btn-primary {
  background-color: #25AFDD;
  border-color: #25AFDD;
  margin-top: 1em;
  margin-bottom: 1em;
}
 


@media max-width; 800px {
  p{
    
    font-size: 2em;
  }

  .plusalcarrito {
    background-color: #25AFDD;
    border-color: #25AFDD;
     }
  
}